@font-face {
    src: url("Roboto-Regular.ttf");
}

*{
    -fx-font-family: "Roboto";
}

/* PAINEIS */
.scroll-pane{
    -fx-background-color: white;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.25 ), 6, 0, 0, 2);
    -fx-padding: 10;
}

/* CAMPOS DE TEXTO */
.date-picker, .text-field{
    -fx-label-float: true;
    -fx-padding: 20 0 0 0;
    -fx-margin: 5 15 15 10;
    -fx-label-float: true;
    -fx-font: 15px "Roboto";
    -fx-border: 0;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0 ), 0, 0, 0, 0);
}

/* BOTOES */
.button{
    -fx-font: 18px "Roboto";
}

/* TABELAS */
.table-view{ -fx-border-width: 0; }

.table-view,
.table-view:focused,
.table-view .filler,
.table-view .column-header-background .label { -fx-background-color: transparent; }

.table-view .column-header-background .label {
    -fx-font: 15px "Roboto";
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #d0d0d0;
}

.table-view .table-cell{
    -fx-font: 15px "Roboto";
}

/* BARRA DE TITULO */
#title-label{
    -fx-padding: 20 0 0 0;
    -fx-font: 24px "Roboto";
    -fx-text-fill: #AB47BC;
}

/* IDS PREDEFINIDOS */
#white{
    -fx-background-color: white;
}